.git
.envs
venv
.venv
__pycache__
*.py[cod]
.pytest_cache
htmlcov
.coverage
*.egg-info
.eggs
media
.editorconfig
.gitattributes
.github
.gitignore
.gitlab-ci.yml
.idea
.pre-commit-config.yaml
.readthedocs.yml
.travis.yml
docs/_build
