{% load static i18n compress %}

<!DOCTYPE html>
{% get_current_language as LANGUAGE_CODE %}
<html lang="{{ LANGUAGE_CODE }}">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>
      {% block title %}
        footycollect
      {% endblock title %}
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description"
          content="Manage your inventory of football memorabilia collection" />
    <meta name="author" content="sunr4y" />
    <!-- Animated favicons for different devices and sizes -->
    <link rel="icon"
          type="image/gif"
          sizes="16x16"
          href="{% static 'images/favicons/favicon-16x16.gif' %}" />
    <link rel="icon"
          type="image/gif"
          sizes="32x32"
          href="{% static 'images/favicons/favicon-32x32.gif' %}" />
    <link rel="apple-touch-icon"
          sizes="180x180"
          href="{% static 'images/favicons/favicon-32x32.gif' %}" />
    <meta name="theme-color" content="#0d6efd" />
    {% block css %}
      <!-- Latest compiled and minified Bootstrap CSS -->
      <link rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.2.3/css/bootstrap.min.css"
            integrity="sha512-SbiR/eusphKoMVVXysTKG/7VseWii+Y3FdHrt0EpKgpToZeemhqHeZeLWLhJutz/2ut2Vw1uQEj2MbRF+TVBUA=="
            crossorigin="anonymous"
            referrerpolicy="no-referrer" />
      <!-- Your stuff: Third-party CSS libraries go here -->
      <!-- This file stores project-specific CSS -->
      {% compress css %}
        <link href="{% static 'css/project.css' %}" rel="stylesheet" />
      {% endcompress %}
      <link href="https://cdn.jsdelivr.net/npm/flag-icons@7.3.2/css/flag-icons.min.css"
            rel="stylesheet" />
    {% endblock css %}
    <!-- Le javascript
    ================================================== -->
    {# Placed at the top of the document so pages load faster with defer #}
    {% block javascript %}
      <!-- Bootstrap Bundle JS (includes Popper.js for dropdowns) -->
      <script defer
              src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.2.3/js/bootstrap.bundle.min.js"
              integrity="sha512-i9cEfJFAUyjr/wgsFk9OG/4yD2gFtPugI0VzRuYdaXPwK+W8oYpNlpimXVNxPlX3gUlC6Uz9pfSjkdQ/3RjonTQ=="
              crossorigin="anonymous"
              referrerpolicy="no-referrer"></script>
      <!-- Your stuff: Third-party javascript libraries go here -->
      <!-- place project specific Javascript in this file -->
      {% compress js %}
        <script defer src="{% static 'js/project.js' %}"></script>
      {% endcompress %}
    {% endblock javascript %}
  </head>
  <body class="{% block bodyclass %}{% endblock bodyclass %}">
    {% block body %}
      <div class="mb-1">
        <nav class="navbar navbar-expand-md navbar-light bg-light">
          <div class="container-fluid">
            <button class="navbar-toggler navbar-toggler-right"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent"
                    aria-expanded="false"
                    aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <a class="navbar-brand" href="{% url 'home' %}">FootyCollect</a>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item active">
                  <a class="nav-link" href="{% url 'home' %}">{% translate "Home" %} <span class="visually-hidden">(current)</span></a>
                </li>
                {% if request.user.is_authenticated %}
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle"
                       href="#"
                       id="itemsDropdown"
                       role="button"
                       data-bs-toggle="dropdown"
                       aria-expanded="false">{% translate "Collection" %}</a>
                    <ul class="dropdown-menu" aria-labelledby="itemsDropdown">
                      <li>
                        <h6 class="dropdown-header">{% translate "Add Items" %}</h6>
                      </li>
                      <li>
                        <a class="dropdown-item"
                           href="{% url 'collection:jersey_create_automatic' %}">
                          <i class="bi bi-magic me-2"></i>{% translate "Add Jersey (Automatic)" %}
                          <small class="text-muted d-block ms-4">{% translate "From kit database" %}</small>
                        </a>
                      </li>
                      <li>
                        <a class="dropdown-item"
                           href="{% url 'collection:jersey_create_manual' %}">
                          <i class="bi bi-pencil me-2"></i>{% translate "Add Jersey (Manual)" %}
                          <small class="text-muted d-block ms-4">{% translate "Not in database" %}</small>
                        </a>
                      </li>
                      <li>
                        <span class="dropdown-item-text text-muted">
                          <i class="bi bi-plus-circle me-2"></i>{% translate "Add Other Item" %}
                          <small class="d-block ms-4 text-muted">{% translate "Coming Soon" %}</small>
                        </span>
                      </li>
                      <li>
                        <hr class="dropdown-divider" />
                      </li>
                      <li>
                        <h6 class="dropdown-header">{% translate "Browse" %}</h6>
                      </li>
                      <li>
                        <a class="dropdown-item" href="{% url 'collection:item_list' %}">
                          <i class="bi bi-grid me-2"></i>{% translate "View My Collection" %}
                        </a>
                      </li>
                      <li>
                        <a class="dropdown-item" href="{% url 'collection:jersey_select' %}">
                          <i class="bi bi-search me-2"></i>{% translate "Browse Kit Database" %}
                          <small class="text-muted d-block ms-4">{% translate "Search available kits" %}</small>
                        </a>
                      </li>
                    </ul>
                  </li>
                {% endif %}
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'about' %}">{% translate "About" %}</a>
                </li>
              </ul>
              <ul class="navbar-nav ms-auto">
                {% if request.user.is_authenticated %}
                  <li class="nav-item">
                    <a class="nav-link"
                       href="{% url 'users:detail' request.user.username %}">{% translate "My Profile" %}</a>
                  </li>
                  <li class="nav-item">
                    {# URL provided by django-allauth/account/urls.py #}
                    <a class="nav-link" href="{% url 'account_logout' %}">{% translate "Sign Out" %}</a>
                  </li>
                {% else %}
                  {% if ACCOUNT_ALLOW_REGISTRATION %}
                    <li class="nav-item">
                      {# URL provided by django-allauth/account/urls.py #}
                      <a id="sign-up-link" class="nav-link" href="{% url 'account_signup' %}">{% translate "Sign Up" %}</a>
                    </li>
                  {% endif %}
                  <li class="nav-item">
                    {# URL provided by django-allauth/account/urls.py #}
                    <a id="log-in-link" class="nav-link" href="{% url 'account_login' %}">{% translate "Sign In" %}</a>
                  </li>
                {% endif %}
              </ul>
            </div>
          </div>
        </nav>
      </div>
      <div class="container">
        {% if messages %}
          {% for message in messages %}
            <div class="alert alert-dismissible {% if message.tags %}alert-{{ message.tags }}{% endif %}">
              {{ message }}
              <button type="button"
                      class="btn-close"
                      data-bs-dismiss="alert"
                      aria-label="Close"></button>
            </div>
          {% endfor %}
        {% endif %}
        {% block main %}
          {% block content %}
            <p>Use this document as a way to quick start any new project.</p>
          {% endblock content %}
        {% endblock main %}
      </div>
    {% endblock body %}
    <!-- /container -->
    {% block modal %}
    {% endblock modal %}
    {% block inline_javascript %}
      {% comment %}
    Script tags with only code, no src (defer by default). To run
    with a "defer" so that you run inline code:
    <script>
      window.addEventListener('DOMContentLoaded', () => {
        /* Run whatever you want */
      });
    </script>
      {% endcomment %}
    {% endblock inline_javascript %}
    {% block js %}
      {{ block.super }}
      <script src="https://code.jquery.com/jquery-3.7.1.min.js"
              integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo="
              crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
      <!-- Dropzone CSS y JS oficiales -->
      <link href="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.9.3/dropzone.min.css"
            rel="stylesheet" />
      <script src="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.9.3/dropzone.min.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/alpinejs@3.13.3/dist/cdn.min.js"
              defer></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/spark-md5/3.0.2/spark-md5.min.js"></script>
    {% endblock js %}
  </body>
</html>
